.about__me__section {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

.section__title {
    text-align: center;
    font-size: 2.25rem;
    line-height: 2.5rem; 
    font-family: 'Bebas Neue', sans-serif;
}

.section__container {
    display: flex;
    flex-flow: column wrap;
}

.section__col {
    width: 100%;
}

.about__me__description p {
    text-align: justify;
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding-block: 0.5rem;
}

@media screen and (min-width:1250px) {

    .section__container {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
        justify-content: space-evenly;
    }

    .section__col {
        width: 45%;
    }
}