.hexagon-item {
  width: 200px;
  height: 173.20508px;
  float: left;
  margin-left: -29px;
  z-index: 0;
  position: relative;
  transform: rotate(30deg);
}

.hexagon-item:first-child {
  margin-left: 0;
}


.hexagon-item:hover {
  z-index: 1;
}

.hexagon-item:hover .hex-item:last-child {
  opacity: 1;
  transform: scale(1.3);
}

.hexagon-item:hover .hex-item:first-child {
  opacity: 1;
  transform: scale(1.2);
}

.hexagon-item:hover .hex-item:first-child div:before,
.hexagon-item:hover .hex-item:first-child div:after {
  height: 5px;
}


.hexagon-item:hover .hex-item div::before,
.hexagon-item:hover .hex-item div::after {
  background-color: var(--hover-color, #F97316); 
  z-index: 1;
}


.hexagon-item:hover .hex-content svg {
  transform: scale(0.97);
}

.hex-item {
  position: absolute;
  top: 0;
  left: 50px;
  width: 100px;
  height: 173.20508px;
}

.hex-item:first-child {
  z-index: 0;
  transform: scale(0.9);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hex-item:last-child {
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 1;
}

.hex-item div {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: 100px;
  height: 173.20508px;
  transform-origin: center center;
}

.hex-item div::before,
.hex-item div::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #1e2530;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 1;
}

.hex-item div:before { top: 0; }
.hex-item div:after { bottom: 0; }

.hex-item div:nth-child(1) { transform: rotate(0deg); }
.hex-item div:nth-child(2) { transform: rotate(60deg); }
.hex-item div:nth-child(3) { transform: rotate(120deg); }

.hex-content {
  color: var(--clr-light);
  display: block;
  height: 180px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  transform: rotate(-30deg);
  width: 156px;
}

.hex-content .hex-content-inner {
  left: 50%;
  margin: -3px 0 0 2px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hex-content .icon {
  display: block;
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 11px;
}

.hex-content .title {
  display: block;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
}

.hex-content svg {
  left: -7px;
  position: absolute;
  top: -13px;
  transform: scale(0.87);
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hex-content:hover {
  color: var(--hover-color, #F97316);
}
