.hexagon-menu {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.hex-row {
  display: flex;
  justify-content: center; 
  gap: 0; 
}

.hex-row + .hex-row {
  margin-top: -25px;
}

