.file__card__container {
    background: linear-gradient(to bottom right, #4b5563, #000000);
    min-width: 10rem;
    min-height: 9rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    padding-top: 0.5rem;
    box-shadow: 0 1px 3px rgba(250, 204, 21, 0.1), 0 1px 2px rgba(250, 204, 21, 0.06);
}

.skill__card__shapes {
    position: relative;
}

.trapezoid {
    clip-path: polygon(0 0, 72% 0, 100% 100%, 0% 100%);
    height: 1.5rem;
    width: 6rem;
    position: absolute;
    left: 0;
    top: -2rem;
    background: linear-gradient(to bottom, #d1d5db, #6b7280, #111827);
  }

  .charger {
    position: absolute;
    background: linear-gradient(to right, #fde68a, #b7791f);
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    left: -0.5rem;
    top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 1s linear infinite;
  }

  .dot {
    height: 0.625rem;
    width: 0.625rem;
    border-radius: 100%;
    background-color: var(--clr-light);
  }

  .skill__card:hover {
    color: var(--hover-color);
    transition: color 0.2s;
  }

  .skill__card__technology {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.625rem;
  }

  .skill__card__technology i {
    font-size: 3.75rem;
    line-height: 1;
  }

  .skill__card__technology__name {
    font-size: 1.125rem;
    text-align: center;
    letter-spacing: 0.05em;
    font-family: 'Bebas Neue', sans-serif;
  }

  .skill__card__footer {
    background: linear-gradient(to bottom, #d1d5db, #6b7280, #111827);
    display: flex;
    justify-content: end;
    padding: 0.25rem;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  @keyframes lightning {
    from {
      color: #FFD700;
    }
  
    to {
      color: #DAA520;
    }
  }
  
  @keyframes lightning {
    0% {
      color: #FFD700; 
    }
  
    50% {
      color: #DAA520;
    }
  
    100% {
      color: #FFD700;
    }
  }
  
  @keyframes lightning-slow {
    0% {
      color: #FFD700; 
    }
  
    50% {
      color: #DAA520; 
    }
  
    100% {
      color: #FFD700;
    }
  }
  
  @keyframes lightning-slower {
    0% {
      color: #FFD700; 
    }
  
    50% {
      color: #DAA520;
    }
  
    100% {
      color: #FFD700;
    }
  }
  
  .animate-lightning {
    animation: lightning 1.5s linear infinite;
  }
  
  .animate-lightning-slow {
    animation: lightning-slow 2s linear infinite;
  }
  
  .animate-lightning-slower {
    animation: lightning-slower 2.5s linear infinite;
  }
  
  .calc-width {
    width:calc(100% - 100px);
  }