.skills__cards__container {
    display: grid;
    gap: 3rem;
    padding-top: 3rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

@media screen and (min-width: 1200px) {
    .skills__cards__container {
        padding-top: 3rem;
        grid-template-rows: repeat(3, minmax(0, 1fr));
    }
  }
