@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'StarJedi';
  src: url('/src/assets/fonts/Starjedi.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, #root {
  min-height: 100vh;
}

.shadow-yellow {
  text-shadow: -1px 2px 2px #FFD700;
}

.shadow-white {
  text-shadow: -1px 2px 2px #fdfefe;
}